.user-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5rem;
  height: 100%;

  &__card {
    width: 50%;
    padding: 2.5rem !important;
    overflow: auto !important;
  }

  &__avatar {
    height: 60px !important;
    width: 60px !important;
    overflow: hidden;
  }

  &__address {
    margin-top: 1.5rem;
    height: 320px;
  }
}

.user-prop {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgba($bg-primary, .3);
  margin-top: 2rem;
  // &:not(:last-child) {
  //   margin-bottom: 1.5rem;
  // }

  &__name {
    font-weight: 700;
    width: 12rem;
  }
}
