// primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, denary
$bg-primary: #1a2b3c;
$text-primary: #f1f3f5;

$bg-dark: #1a2b3c;
$text-light: #eee;

$bg-light: #f1f3f5;
$text-dark: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 10rem;
